.wrapper{
    margin: 5px;
}

/* 3 */
h1{
    text-align: center;
}
/*this sets the background color of the entire body*/
body{
    background-color: lightgray;
}

/* 4 */
.background1{
    background-image: linear-gradient(to right, lightgray, lightgreen);
}

/* 5 */
.background2{
    background-image: url("../../assets/milky-way-starry-sky-night-sky-star-956999.jpeg");
    color: white;
}

/* 7 */
table, th, td{
    border: 1px solid black;
}